.terms-and-condition-section {
    margin: 30px 20%;

    .terms-and-condition-container {
        .terms-and-condition {
            height: auto;
            word-wrap: break-word;
        }
    }
}

.headline {
    text-decoration: underline;
}

.text-margin {
    margin-top: 15px;
    color: #000;
}

.ul-design {
    margin-top: 5px;
    margin-left: 10px;
}

.sub-headline {
    margin-left: 5px;
    margin-top: 10px;
}
.sub-headline-ul-design {
    margin-top: 5px;
    margin-left: 25px;
}
