.copied-div {
    position: relative;
    margin-left: 5px;

    .copied {
        position: absolute;
        top: -33px;
        padding: 4px 9px;
        color: white;
        font-size: 14px;
        right: -16px;
        border-radius: 4px;
        background-color: #0048ba;
    }


    .copiedButton {
        cursor: pointer;
        transition: 0.1s;
        padding: 5px;
        font-size: 24px;
    }

    .copiedButton:hover {
        background-color: #0048ba;
        border-radius: 4px;
        color: white;
    }

    .copiedButton:active {
        transform: translateY(2px);
    }

}