.about-section {
    margin: 30px 20%;

    .about-conntainer {
        .about {
            height: auto;
            word-wrap: break-word;
        }
    }
    .ul-design {
        margin-top: 5px;
        margin-left: 15px;
    }

    .sub-headline {
        margin-left: 5px;
        margin-top: 10px;
    }
    .sub-headline-ul-design {
        margin-top: 5px;
        margin-left: 25px;
    }
}
